@charset "utf-8";

@font-face {
    font-family: Champange;
    src: url('cac_champagne.woff') format('.woff');
    src: url('cac_champagne.ttf') format('.ttf')
}

@font-face {
    font-family: Grunge;
    src: url('1942.woff') format('.woff');
    src: url('1942.ttf') format('.ttf')
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('.woff');
    src: url('DobkinPlain.ttf') format('.ttf')
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Victor Akanbi
   Date:   9.6.18
   
   Filename: ph_styles.css

*/
/* Structural Styles */
html {
    background-color: hsl(91, 8%, 56%);
}

body {
    background-color: hsl(58, 31%, 84%);
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

header {
    background-color: black;
}

p {
    margin: 0px;
    padding: 5px 25px 25px 25px;
}

body>p {
    font-size: 1.1em;
    text-align: center
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

/* Navigation Styles */
nav a {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px
}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav a:hover,
nav a:active {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(0, 0%, 42%, 0.7);
}

/* Go to the Section Styles section of the style sheet. In this section, you’ll define the appearance of the four playbills. You’ll start with the h1 headings from the sections. Create a style rule for the section.playbill h1 selector that sets the font size to 3em and the font weight to normal. Set the margin space around the h1 headings to 0 pixels. Set the padding space to 20 pixels on top, 0 pixels on the right, 10 pixels on the bottom, and 20 pixels on the left. */
/* Section Styles */
section.playbill h1
/* Description List Styles */